@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f4f1d5;
}

.nav {
  width: 100%;
  height: 60px;
  background-color: #b85839;
  position: fixed;
  z-index: 1;
  top: 0;
  justify-content: center;
  display: flex;
  color: #fff;
}

.nav-frame {
  max-width: 1200px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.nav-frame-left {
  padding: 17px;
  font-size: 20px;
  font-weight: 400;
}

.nav-frame-right {
  display: flex;
  width: 45%;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  font-size: 16px;
  font-weight: 300;
  padding: 18px;

  overflow: hidden;
  transition: all 0.4s;
}

.nav-frame-right-a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

/* .nav-frame-right-a:hover {
  background-color: #000;
} */

.resumeButton {
  outline: 0;
  border: 0;
  height: 30px;
  border-radius: 5px;
  text-decoration: none;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: -6px;
  background-color: #fff;
  color: #b85839;
}

#about {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #b85839;
  display: flex;
  justify-content: center;
}

.about-frame {
  width: 1200px;
  background-color: #b85839;
  padding: 15px;
  display: inline;
  justify-content: center;
}

.about-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-right-frame {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  text-align: center;

  margin-bottom: 8rem;
}

.about-right {
  margin-top: 70px;
}

.about-right h1 {
  color: white;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.about-right h3 {
  color: #fff;
  font-weight: 500;
  font-size: 22px;
}

.about-right h3 b {
  margin-top: 10px;
  color: #3c1c1c;
  font-weight: 700;
}

.about-right p {
  margin-top: 16px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
}

.about-right-ham {
  display: none;
}

#skills {
  padding: 30px;
  padding-top: 80px;
  display: flex;
  position: block;
  justify-content: space-around;
}

.skills-frame {
  min-width: 1200px;
}

#skills h1 {
  font-size: 22px;
  font-weight: 400;
  color: #b85839;
}

#skills ul {
  list-style: none;
  padding-left: 24px;
}

#skills li {
  margin-top: 10px;
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.empty-bar {
  margin-top: 6px;
  height: 10px;
  width: 400px;
  background-color: #ccc;
  border-radius: 1px;
}

.filled-bar {
  height: 10px;
  background-color: #b85839;
  border-radius: 1px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  width: calc(100% - 300px);
  margin-left: 150px;
  border-top: 1px solid #b85839;
}

.project h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: #b85839;
  text-align: center;
  margin-bottom: 5rem;
}

.section-project {
  padding: 6rem 0;
}

.project-container {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.project-container:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.content {
  padding: 2.8rem 1rem;
}

.grey-text {
  color: #444;
  font-weight: 600;
}

.project-img {
  width: 100%;
}

.title {
  font-size: 2rem;
  padding-left: 1rem;
  color: #333;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.donation-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.donation-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.container,
.project {
  /* 1140px */
  max-width: 100rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.project-content {
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.project-link {
  margin-bottom: 2rem;
  text-decoration: none;
  color: #b85839;
  padding-left: 16rem;
  font-weight: 600;
}

.project-link:hover {
  color: #e76c07;
}

#contact {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  line-height: 35px;
}

.contact-frame {
  min-width: 1200px;
}

#contact h1 {
  font-size: 24px;
  font-weight: 400;
  color: #b85839;
}

#contact ul {
  list-style: none;
  padding-left: 30px;
  padding-top: 20px;
}

#contact li {
  display: flex;
}

#contact a {
  padding: 0;
  margin: 0;
  color: #b85839;
}

#contact a:hover {
  padding: 0;
  margin: 0;
  color: #121212;
}

#footer {
  padding: 30px;
  display: flex;
  background-color: #b85839;
  justify-content: space-around;
}

.footer-frame {
  min-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

@media screen and (max-width: 1200px) {
  .about-frame,
  .skills-frame,
  .nav-frame,
  .project-frame,
  .contact-frame {
    min-width: 100%;
  }
}
@media screen and (max-width: 830px) {
  .about-frame,
  .skills-frame,
  .nav-frame,
  .project-frame,
  .contact-frame {
    min-width: 100%;
  }
  .about-right-ham {
    display: inline;
  }
  .about-right-ham {
    margin-right: 12.5px;
    margin-top: 12.5px;
  }
  .about-frame {
    flex-direction: column;
  }
  #about {
    height: max-content;
  }
  .about-left,
  .about-right-frame {
    width: 100%;
  }
  .about-right-frame {
    padding-right: 0px;
    padding-bottom: 20px;
  }
  #skills li,
  #project li {
    width: auto;
  }
  #skills ul,
  #project ul,
  #contact ul {
    padding-left: 0px;
  }
  .empty-bar {
    width: 60vw;
  }
  .about-left {
    display: flex;
    justify-content: center;
  }

  .nav-frame-right {
    display: none;
  }

  .nav-drop {
    position: absolute;
    background-color: #f4f8e5;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    right: 15px;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.2);
  }

  .nav-frame-right-ham-a {
    color: #000;
    text-decoration: none;
    padding: 10px;
    text-align: center;
  }

  .resumeButton-drop {
    outline: 0;
    border: 0;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    color: #fff;
    background-color: #b85839;
  }
  #footer {
    padding: 10px;
  }
}
